body {
  background-color: #DDDDEE;
}
.main {
  margin: 0 20px;
}

.panel {
    border: 2px solid darkblue;
}

@media (min-width: 992px) {
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
}

.gauge-instructions {
  padding: 10px;
}

.btn {
  margin: 6px;
}

canvas {
    width: 100%;
    height: auto;
}

h1, h2, h3, .led-instructions {
    text-align: center;
}

@media (max-width: 1500px) {
  h2, h3 {
    font-size: 36px;
  }
}

@media (max-width: 1200px) {
  h2, h3 {
    font-size: 24px;
  }
}

hr {
    display: block;
    width: 80% margin-top : 0.5 em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-style: inset;
    border-width: 2px;
}
