.main {
  margin: 0 20px;
}

.panel {
    border: 2px solid darkblue;
}

canvas {
    width: 100%;
    height: auto;
}

.plug-dev {
    background-color: #ffffff;
    float: left;
    padding-left: 1%;
    margin: 0 auto;
    width: 100%;
    height: 20px;
}

h1 {
    text-align: center;
    position: relative;
}

h2 {
    text-align: center;
}

@media (max-width: 1500px) {
  h2 {
    font-size: 36px;
  }
}

@media (max-width: 1200px) {
  h2 {
    font-size: 24px;
  }
}


h3 {
    text-align: left;
    padding-left: 20%;

}

hr {
    display: block;
    width: 80% margin-top : 0.5 em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-style: inset;
    border-width: 2px;
}
